name: CI for GO Code #Naming the workflow
on: #for even triggering
  push: 
    branches: [main]
  pull_request:
    branches: [main]
    
jobs: # job to execute?
  build: # name of the job
    name: Load OS #name for printing
    runs-on: ubuntu-latest #specify OS in virutal machine
    steps: 
    - name: Print Hello
      run: | # run terminal command
        ls
        echo Hello!!
    - name: Setup GO
      uses: actions/setup-go@v3.2.0
      with: 
        go-version: 1.18
    - name: Check Go Version
      run: go version
      
    - name: Checkout Repo
      uses: actions/checkout@v2.4.2
      
    - name: Check File Sytem
      run: ls
      
    - name: Install Dependency
      run: |
        go get github.com/franela/goblin
        go test -v
      
